@Styles.Render("~/Content/detail-css")
@Scripts.Render("~/Scripts/detail-javascript")


<section id="detail-info">
    <div class="infos">
        <span>ARTES</span>
        <span>10 Citações</span>
    </div>
</section>
<section id="detail-content">
    <div>
    </div>
</section>