<div id="user-box-edit">
    <img src="~/Images/Samples/mario.jpg" alt="" srcset="">
    <span>Mário Sérgio</span>
    <form id="user-edit-form" action="" method="post">
        <input type="email" placeholder="Email" name="" id="">
        <input type="password" placeholder="Senha" name="" id="">
        <input type="submit" value="SALVAR">
    </form>
</div>
