<div id="user-box-edit">
    <img src="../../Assets/img/icons/citaê.svg" alt="" srcset="">
    <form id="user-edit-form" action="" method="post">
        <input type="email" placeholder="Email" name="" id="">
        <input type="password" placeholder="Senha" name="" id="">
        <input type="submit" value="LOGIN">
        <a href="@Url.Action("Signin", "User")">CADASTRE-SE</a>
    </form>
</div>