@model Citae_Application.Models.Usuario

<div id="user-box-edit">
    <img src="../../Assets/img/icons/citaê.svg" alt="" srcset="">
    @using (Html.BeginForm("Login", "User", FormMethod.Post, new { @id = "user-edit-form" }))
    {
        <input type="email" placeholder="Email" name="email">
        <input type="password" placeholder="Senha" name="senha">
        if (ViewBag.ErrorLogin != null) {
            <span> @ViewBag.ErrorLogin </span>
        }
        <input type="submit" value="LOGIN">
        <a href="@Url.Action("Signin", "User")">CADASTRE-SE</a>
    }
</div>

