@model Citae_Application.Models.Usuario

<div id="user-box-edit">
    @using (Html.BeginForm("Signin", "User", FormMethod.Post, new { @id = "user-edit-form", @class = "signin-form" }))
    {
        <input type="text" placeholder="Nome" name="nome">
        <input type="email" placeholder="Email" name="email">
        <input type="password" placeholder="Senha" name="senha">
        if (ViewBag.ErrorSignin != null) {
            <span> @ViewBag.ErrorSignin </span>
        }
        <input type="submit" value="CRIAR CONTA">
    }
</div>
